
body {
    width: 100%;
    height: 100%;
    color: #60f8f8;
    background-color: #000000;
}

.navbar{
    background-color: #000000;
}

.nav-link{
    color: #60f8f8;
}
.nav-link:hover{
    background-color: #60f8f8;
}
#home{
    /*background: url("../images/iluminating_night.png");*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    color: #FFF;
}

.overlay {
    height: 735px;
    background-attachment: fixed;
}

#aboutme{
    margin: 15px;
    border-color: #299e9e;
}
#aboutme #propic{
    width: 170px;
    height: auto;
}
#experience{
    margin: 15px;
    border-color: #299e9e;
}
#projects{
    margin: 15px;
    border-color: #299e9e;
}
#contact{
    margin: 15px;
    border-color: #299e9e;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-nav
        {
            position: relative;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: right;
        }
    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar-nav
        {
            position: relative;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: right;
        }
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar-nav
    {
        position: relative;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: right;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {#topnav li.a:not(:first-child) {display: inline-block;}
#topnav a.icon {
 float: left;
 display: block;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {#topnav li.a:not(:first-child) {display: inline-block;}
#topnav a.icon {
 float: left;
 display: block;}
}